<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    {{#if title}}
    <title>{{title}}</title>
    {{else}}
    <title>Default title.</title>
    {{/if}}
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/popup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <script src="/script/search-script.js"></script>
    <link rel="stylesheet" href="/css/analyticsDashboard.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/subscription&subscriber.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/articlesHome.css">



</head>

<body>
    <nav>
        {{!-- Page logo --}}
        <div class="logo">
            <a href="/">
                <img src="/images/logo1.png" alt="page logo">
            </a>
        </div>

        

        {{!-- Navigation search bar--}}
        <div class="search_bar search">
            {{!-- <img src="/images/search-icon.png"> --}}
            <input type="text" id="searchInput" placeholder="Search..." class = "search">
            <div id = "searchResultContainer">
                <div class="dropdownsearch search" id = "searchByTitle">
                </div>
                <div class="dropdownsearch search" id = "searchByAuthor">
                </div>
                <div id="viewAllDiv search">
                    <a id = "viewAllSearchResults">view all search results</a>
                </div>
                
            </div>
        </div>

        {{!-- Nav login and dropdown button --}}
        <ul class="nav_list">
            {{#if user}}
            <li>
                <div class="dropdown skeet">
                    <button class="dropbtn skeet">
                        <img class="dropdown-avatar skeet" src="{{user.icon_path}}" alt="user photo">
                        <span class="username skeet">{{user.fname}} {{user.lname}}</span>
                        <i class="fa fa-caret-down skeet"></i>
                    </button>
                    <div class="dropdown-content skeet">
                        <a href="/my_profile">My Profile</a>
                        <a href="/my-page">My Page View</a>
                        <a href="/my_post">My Post</a>
                        <a href="/analytics">Analytics</a>
                        <a href="/sub">Subscription</a>
                        <a href="/logout" id="signout">Sign out</a>
                    </div>
                </div>
            </li>
                        <a href="/writeArticle" id="newArticleLink">New Article</a>
                    </div>
                </div>
            </li>
            {{else}}
            <div class="login">
            <div class="register">
                <a href="/register">Register</a>
            </div>
                <a href="/login">Login</a>
            </div>
            {{/if}}
        </ul>
    </nav>


    <div id="page_body">
        {{{body}}}
    </div>
    <footer>
        <div id="footer">
        <img src="/images/footer-logo.png">
        <span> &copy 2023 UOA-PGCIT-S2 Group 2</span>
        </div>
    <script src="/script/main.js"></script>
</body>

</html>