<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    {{#if title}}
    <title>{{title}}</title>
    {{else}}
    <title>Default title.</title>
    {{/if}}
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/popup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <link rel="stylesheet" href="/css/analyticsDashboard.css">



</head>

<body>
    <nav>
        {{!-- Page logo --}}
        <div class="logo">
            <a href="/">
                <img src="/images/logo1.png" alt="page logo">
            </a>
        </div>

        {{!-- Navigation search bar--}}
        <div class="search_bar">
            <img src="/images/search-icon.png">
            <input type="text" id="searchInput" placeholder="Search...">
        </div>

        {{!-- Nav login and dropdown button --}}
        <ul class="nav_list">
            {{#if user}}
            <li>
                <a href="/logout">Logout</a>
            </li>
            <li>
                <div class="dropdown">
                    <div class="dropbtn"><img src="{{user.icon_path}}" alt="user_avatar" id="user_avatar"></div>
                    <div class="dropdown-content">
                        <a href="/my_profile">My Profile</a>
                        <a href="/my-page">My Page View</a>
                        <a href="/my_post">My Post</a>
                        <a href="/analytics">Analytics</a>
                        <a href="/sub">Subscription</a>
                        <a href="/writeArticle">New Article</a>
                    </div>
                </div>
            </li>
            <li>
            </li>
            {{else}}
            <li class="login">
                <a href="/login">Login</a>
            </li>
            <li class="register">
                <a href="/register">Register</a>
            </li>
            {{/if}}
        </ul>
    </nav>

    <div id="page_body">
        {{{body}}}
    </div>


    <footer>
        <div id="footer">
            <img src="/images/footer-logo.png">
            <span> &copy 2023 UOA-PGCIT-S2 Group 2</span>
        </div>
    </footer>
</body>

</html>