<div id="home_container">

    {{#if user}}
    <div>
        <h1>Hello, {{user.fname}}!</h1>
        <p>This is your homepage!</p>
    </div>
    {{/if}}

    <a href="/writeArticle">Write a new article</a>

    <h1 id="category_nav">
        {{#if current_category}}
        <div id="specific_category_title">
            <span id="all_articles_category"><a href="/">All Articles</a></span> / <span
                id="current_category">{{current_category}}</span>
        </div>
        {{else}}
        <div id="home_title">Explore All Articles</div>
        {{/if}}
    </h1>

    <div id="top5_articles">
        <h2 id="top5_block_title">Top 5 Popular Articles</h2>
        {{#each top5Articles}}
        <div>
            <div class="background_image"></div>
            <div class="article_title">{{this.article_title}}</div>
            <div class="article_description">{{this.article_description}}</div>
            <div class="article_category">{{this.article_category}}</div>
            <div class="btn_readmore">Read more</div>
        </div>
        {{/each}}
    </div>

    <div id="all_articles">
        <h2 id="main_block_title">Explore More Articles</h2>
        {{#each articleData}}
        <div class="authorData">
            <div class="author_icon">{{this.author_icon}}</div>
            <div class="author_name">{{this.author_name}}</div>
        </div>

        <div class="article_title">{{this.article_title}}</div>
        <div class="article_description">{{this.article_description}}</div>
        <div class="article_category">{{this.article_category}}</div>
        <div class="article_timestamp">{{this.article_timestamp}}</div>
        {{/each}}
    </div>

    <div id="sidebar">
        <div id="sidebar_title">More to explore</div>
        <div id="sidebar_category_container">
            {{#each categoryData}}
            <div class="categoryData">
                {{this.category}}
            </div>
            {{/each}}
        </div>
    </div>
    <div>

    </div>