<link rel="stylesheet" href="/css/articlesHome.css">

<div id="home_container">

    {{#if user}}
    <input value="{{user.id}}" name="user_id" id="current_user_id" hidden>
    <div id="greetingDiv">
        <h1>Welcome to your homepage, {{user.fname}}!</h1>
    </div>
    {{/if}}

    {{!-- <a href="/writeArticle">Write a new article</a> --}}
    <br>

    <div class="filterDiv">
        <form action="/filtered-articles" method="GET">
            <label for="startDate">Start Date:</label>
            <input type="date" name="startDate" id="startDate">

            <label for="endDate">End Date:</label>
            <input type="date" name="endDate" id="endDate">

            <button type="submit" id="dateInput">Filter Articles</button>
        </form>
    </div>

    <div id="genre-container">
        <ul id="genre-list">
            <li>
                <a href="/genre/Travelogues">Travelogues</a>
            </li>
            <li>
                <a href="/genre/Opinion%20Pieces">Opinion</a>
            </li>
            <li>
                <a href="/genre/Technology%20Trends">Tech Trends</a>
            </li>
            <li>
                <a href="/genre/Feature%20Stories">Feature Stories</a>
            </li>
            <li>
                <a href="/genre/News%20Articles">News</a>
            </li>
            <li>
                <a href="/genre/Historical%20Analysis">Historical Analysis</a>
            </li>
            <li>
                <a href="/genre/Entertainment%20and%20Pop%20Culture">Entertainment</a>
            </li>
            <li>
                <a href="/genre/Health%20and%20Wellness%20Articles">Health and Wellness</a>
            </li>
            <li>
                <a href="/genre/Product%20Reviews">Reviews</a>
            </li>
            <li>
                <a href="/genre/How-to%20Guides">Guides</a>
            </li>
        </ul>
    </div>


    <h2 id="category_nav">
        {{#if current_category}}
        <div id="specific_category_title">
            <span id="all_articles_category"><a href="/">All Articles</a></span> / <span
                id="current_category">{{current_category}}</span>
        </div>
        {{else}}
        <div id="home_title">
            {{!-- <h3>Explore All Articles</h3> --}}
        </div>
        {{/if}}
    </h2>

    <div id="articles">
        <div id="top5_articles">
            <h1 id="top5_block_title">Top 5 Popular Articles</h1>
            {{#each top5Articles}}
            <div class="each-top5Articles">
                <div id="background_image"></div>
                <div><img src="/images/article-images/thumbnails/{{this.image}}" alt="{{this.image}}" width="150px">
                </div>
                <div id="article_title">
                    <h2>"{{this.title}}"</h2>
                </div>
                <div id="article_description">{{{this.content_html}}}</div>
                {{!-- No category data? --}}
                {{!-- <div id="article_category">{{this.article_category}}</div> --}}
                <button type="submit">
                    <a href="/article/{{this.id}}" id="readMoreLink">Read more</a>
                </button>
            </div>
            {{/each}}
        </div>
        <hr>

        <div id="all_articles">
            <h1 id="main_block_title">Explore More Articles</h1>
            {{#each articleData}}
            <div id="each-articleData">
                <div class="btn_sub_option">
                    {{!-- {{#isEqual user.id this.author_id}} --}}
                    <a href="/profile?id={{this.author_id}}" id="authorData">
                        <div id="author_icon"><img src="{{this.icon_path}}"></div>
                        <div id="author_name">{{this.fname}} {{this.lname}}</div>
                    </a>
                    <div id="article_timestamp">{{this.date_of_publish}}</div>
                    {{!-- {{else}}
                    <a href="/my_profile" id="authorData">
                        <div id="author_icon"><img src="{{this.icon_path}}"></div>
                        <div id="author_name">{{this.fname}} {{this.lname}}</div>
                    </a>
                    {{/isEqual}} --}}
                    <div class="btn_subscribe">
                        <input value="{{this.author_id}}" name="author_id" class="article_author_id" hidden>
                    </div>
                </div>
                <div id="article_title">
                    <h2>"{{this.title}}"</h2>
                </div>
                <div id="article_description">{{{this.content_html}}}</div>
                {{!-- No category information yet --}}
                {{!-- <div id="article_category">{{this.article_category}}</div> --}}
                <button type="submit">
                    <a href="/article/{{this.id}}" id="readMoreLink">Read more</a>
                </button>
            </div>
            {{/each}}


            <div id="sidebar">
                <div id="sidebar_title">More to explore</div>
                <div id="sidebar_category_container">
                    {{#each categoryData}}
                    <div class="categoryData">
                        {{this.category}}
                    </div>
                    {{/each}}
                </div>
            </div>


        </div>
    </div>
</div>

<script src="/script/articlesHome.js"></script>