<div id="article_container">
    <div id="specific_category_title"><span id="articles_home"><a href="/">All</a></span> / <span
            id="current_category">{{current_category}}</span>
    </div>

    {{!-- Displaying article content --}}
    <div id="article-div">
        <p id="article_title"><strong>Title:</strong> {{article.[0].title}}</p>

        <div id="author_details">
            <div id="author_icon">{{author_icon}}</div>
            <p id="author_name"> <strong>By</strong> {{authorName.[0].author_fname}} {{authorName.[0].author_lname}}</p>
            <p id="article_timestamp"><strong>Published on</strong> {{article.[0].date_of_publish}}</p>
        </div>

    <div id="article_content" style="border: red solid 2px;">
        {{{article.[0].content}}}
    </div>
        {{!-- This anchor tag for testing purpose only --}}
    <a href="/writeArticle">Write article</a>
    <hr>

    {{!-- Displaying like button --}}
    <div id="like_section">
        <div id="like">
            
            <button class="like-btn">
                <i class="fa-regular fa-thumbs-up" id="like-icon"></i>
                {{like_count.[0].like_count}}
            </button>
        </div>
    </div>

    <hr>
    
    {{!-- Displaying comment section  --}}
    <button id="open-comment">Comment</button>

    <div class="comment hidden">
        <form class="comment-form">
            <button id="close-comment">Cancel</button>
            <textarea name="comments" id="comments_id" placeholder="Add your comment here..." rows="5"
                cols="60"></textarea>
            <input type="submit" name="submit_button" value="Respond!" />

        </form>

        <div>
            {{#if comments}}
                {{#each comments}}
                <div class="comment_details">
                    <p class="comment_content">{{this.content}}</p>
                    <p class="comment_by_name">{{this.comment.name}}</p>
                    <div class="comment_by_icon">{{this.comment.icon}}</div>
                    <p class="comment_by_timestamp">{{this.time_of_comment}}</p>
                </div>
                {{/each}}
            {{else}}
            <div id="comments_title">Comments (0)</div>
            <div id="comments_container">This article has not had comment yet...</div>
            {{/if}}
        </div>
    </div>

</div>

{{!-- JS linked to button effects --}}
<script src="/script/button.js"></script>

{{!-- 
<script src="/script/display-single-article.js"></script> --}}