<div id="home_container">

    {{#if user}}
    <div>
        <h1>Hello, {{user.fname}}!</h1>
        <p>This is your homepage!</p>
    </div>
    {{/if}}

    <a href="/writeArticle">Write a new article</a>

    <h1 id="category_nav">
        {{#if current_category}}
        <div id="specific_category_title">
            <span id="all_articles_category"><a href="/">All Articles</a></span> / <span
                id="current_category">{{current_category}}</span>
        </div>
        {{else}}
        <div id="home_title">Explore All Articles</div>
        {{/if}}
    </h1>

    <div id="articles">
        <div id="top5_articles">
            <h2 id="top5_block_title">Top 5 Popular Articles</h2>
            {{#each top5Articles}}
            <div class="each-top5Articles">
                <div id="background_image"></div>
                <div id="article_title">{{this.title}}</div>
                <div><img src="/images/article-images/thumbnails/{{this.image}}" alt="{{this.image}}"></div>
                <div id="article_description">{{{this.content_html}}}</div>
                {{!-- No category data? --}}
                {{!-- <div id="article_category">{{this.article_category}}</div> --}}
                <div id="btn_readmore">
                    <a href="/article/{{this.id}}">Read more</a>
                </div>
            </div>
            {{/each}}
        </div>

        <div id="all_articles">
            <h2 id="main_block_title">Explore More Articles</h2>
            {{#each articleData}}
            <div id="each-articleData">
            <div id="authorData">
                {{!-- No author icon yet --}}
                {{!-- <div id="author_icon">{{this.author_icon}}</div> --}}
                <div id="author_name">{{this.fname}} {{this.lname}}</div>
            </div>

            <div id="article_title">{{this.title}}</div>
            <div id="article_description">{{{this.content_html}}}</div>
            {{!-- No category information yet --}}
            {{!-- <div id="article_category">{{this.article_category}}</div> --}}
            <div id="article_timestamp">{{this.date_of_publish}}</div>
            <div id="btn_readmore">
                    <a href="/article/{{this.id}}">Read more</a>
            </div>
            </div>
            {{/each}}


            <div id="sidebar">
                <div id="sidebar_title">More to explore</div>
                <div id="sidebar_category_container">
                    {{#each categoryData}}
                    <div class="categoryData">
                        {{this.category}}
                    </div>
                    {{/each}}
                </div>
            </div>