<div id="article_container">
    <div id="specific_category_title"><span id="articles_home"><a href="/">All</a></span> / <span
            id="current_category">{{current_category}}</span>
    </div>

    {{!-- Displaying article content --}}
    <div>
        <p id="article_title">Title: {{this.title}}</p>

        <div id="author_details">
            <div id="author_icon">{{author_icon}}</div>
            <p id="author_name"> By {{author_name}}</p>
            <p id="article_timestamp">Published on {{this.date_of_publish}}</p>
        </div>

        <p id="article_content">
            Content: {{this.content}}
        </p>
    </div>

    <hr>

    {{!-- Displaying like button --}}
    <div id="like_section">
        <div id="like">
            {{article_like_number}}
            <button class="like-btn">
                <i class="fa-regular fa-thumbs-up" id="like-icon"></i>
            </button>
        </div>
    </div>

    <hr>

    {{!-- Displaying comment section  --}}
    <button id="open-comment">Comment</button>

    <div class="comment hidden">
        <form class="comment-form">
            <button id="close-comment">Cancel</button>
            <textarea name="comments" id="comments_id" placeholder="Add your comment here..." rows="5"
                cols="60"></textarea>
            <input type="submit" name="submit_button" value="Respond!" />

        </form>

        <div>
            {{#if comments}}
                {{#each comments}}
                <div class="comment_details">
                    <p class="comment_content">{{this.content}}</p>
                    <p class="comment_by_name">{{this.comment.name}}</p>
                    <div class="comment_by_icon">{{this.comment.icon}}</div>
                    <p class="comment_by_timestamp">{{this.time_of_comment}}</p>
                </div>
                {{/each}}
            {{else}}
            <div id="comments_title">Comments (0)</div>
            <div id="comments_container">This article has not had comment yet...</div>
            {{/if}}
        </div>
    </div>

</div>

{{!-- JS linked to button effects --}}
<script src="/script/button.js"></script>