<h1>Your stories</h1>

{{!-- Option to write new articles --}}
<div>
    <a href="/writeArticle">Write a story</a>
</div>

{{!-- Draft section --}}
<h2>Drafts</h2>
{{#if drafts}}
<div class="drafts">
    <p>You have {{this.total_drafts}} drafts in totla.</p>
    <ul>
        {{#each drafts}}
        <div>
            <img src="{{this.draft_img}}" alt="my draft image" id="draft_img">
            <p id="draft_create_time">Created on {{this.draft_created_time}}</p>
            <p id="draft_title">{{this.draft_title}}</p>
            <p id="draft_content">{{this.draft_content}}</p>
            {{#if tags}}
            {{#each tags}}
            <p id="tag">{{this.draft_tag}}</p>
            {{/each}}
            {{/if}}
        </div>
        {{/each}}
    </ul>
</div>
{{else}}
<p>You have no drafts</p>
<a href="/writeArticle">Write a story</a>
{{/if}}

{{!-- Published section --}}
<h2>Published</h2>
{{#if posts}}
<div class="all_posts">
    <p>You have <strong>{{this.total_posts}} posts</strong> in total.</p>
    <ul>
        {{#each posts}}
        <div class="each_posts">
            <img src="/images/nature.avif" alt="my post image" id="post_img" width="200px">
            <h3 id="post_title">{{this.title}}</h3>
            <p id="post_publish_time"><strong>Published on </strong>{{this.date_of_publish}}</p>
            <p id="post_content">{{this.content}}</p>
            {{#if tags}}
            {{#each tags}}
            <p id="tag">{{this.post_tag}}</p>
            {{/each}}
            {{/if}}
        </div>
        {{/each}}
    </ul>
</div>
{{else}}
<p>You have no posts</p>
{{/if}}

{{!-- Responses section only if user received them --}}
<h2>Responses</h2>
{{#if responses}}
<div class="response">
    <p>You have <strong>{{this.total_responses}}</strong> responses in total.</p>
    <ul>
        {{#each responses}}
        <div class="each_responses">
            <img src="{{this.commentor_icon_path}}" alt="user avatar" id="user_avatar" width="20px">
            <p id="username"><strong>{{this.commentor_fname}} {{this.commentor_lname}}</strong></p>
            <p><strong>Replied on </strong>{{this.time_of_comment}}</p>
            <p><strong>Articles:</strong> {{this.article_title}}</p>
            <p><strong>Comment: </strong>{{this.content}}</p>
            <a href="/reply">Reply</a>
        </div>
        {{/each}}
    </ul>
</div>
{{else}}
<p>You have no responses</p>
{{/if}}

