<div style="border: 1px solid">
    <img src="{{user.icon_path}}" alt="avatar" style="width: 90px">
    <p><strong>{{user.fname}} {{user.lname}}</strong></p>

    <ul>
        <li>DOB: {{user.DOB}}</li>
        <li>Email: {{user.email}}</li>
        {{#if information}}
        {{#if bio}}
        <li>Bio: {{this.bio}}</li>
        {{/if}}
        {{#if gender}}
        <li>Gender: {{this.gender}}</li>
        {{/if}}
        {{#if address}}
        <li>Address: {{this.address}}</li>
        {{/if}}
        {{/if}}

        <li>
            <a href="/my_post">My posts</a>
        </li>
    </ul>
</div>


{{!-- Following sections on the right side --}}
<div style="border: 1px solid; margin=10px">
    <h2>Subscribers</h2>
    {{#if subscribers}}
    <div>
        <p>You have {{this.total_subscribers}} subscribers in total.</p>
        <a href="/sub">See all!</a>
    </div>
    {{else}}
    <p>You have no subscribers!</p>
    {{/if}}
</div>

<div style="border: 1px solid red; margin=10px">
    <h2>Following</h2>
    {{#if followings}}
    <div>
        <p>You are following {{this.total_followings}} people.</p>

        <a href="/sub">See all!</a>
        {{#each subscribers}}
        <img src="{{this.user_avatar}}" alt="subsciber avatar">
        <p>{{this.username}}</p>
        <button>
            <div>
                <img src="{{this.user_avatar}}" alt="subsciber avatar">
                <p>{{this.username}}</p>
                <p>{{this.bio}}</p>
                <p>{{this.total_followers}} Followers</p>
                <button>Following</button>
            </div>
        </button>
        <div>
        </div>

        {{/each}}
    </div>
    {{else}}
    <p>You are not following anyone!</p>
    {{/if}}
</div>
        <a href="/sub">See all ({{this.total_subscribers}})</a>


{{!-- Options section --}}
<div id="inforForm">
    <button type="submit">Update information</button>

    <form action="/update_info" method="post" id="information">
        <p><strong>Update information</strong></p>

        <label for="bio">Bio:</label>
        <textarea name="bio" id="bio" cols="30" rows="10" maxlength="160"></textarea>

        <label for="gender">Gender:</label>
        <select name="gender" id="gender">
            <option value=""></option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Non-binary">Non-Binary</option>
        </select>

        <label for="address">Address</label>
        <input type="text" name="address" id="address">

        <button type="submit">Save changes</button>
    </form>

</div>

<div>
    <button type="submit">Update password</button>
    <button type="submit">Delete account</button>
</div>